<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>BD.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>BD.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProveedor</servlet-name>
        <servlet-class>Proveedor.AgregarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProveedor</servlet-name>
        <servlet-class>Proveedor.EliminarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCliente</servlet-name>
        <servlet-class>Cliente.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProveedor</servlet-name>
        <servlet-class>Proveedor.ModificarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCliente</servlet-name>
        <servlet-class>Cliente.ModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoC</servlet-name>
        <servlet-class>Catalogo.AgregarProductoC</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ModificarProductoC</servlet-name>
        <servlet-class>Catalogo.ModificarProductoC</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AgregaPiezas</servlet-name>
        <servlet-class>Administrador.AgregaPiezas</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AgregaOrden</servlet-name>
        <servlet-class>Administrador.AgregaOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarOrden</servlet-name>
        <servlet-class>Administrador.AgregarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comun</servlet-name>
        <servlet-class>Administrador.Comun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarOrden</servlet-name>
        <servlet-class>Administrador.EliminarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarOrdenP</servlet-name>
        <servlet-class>Administrador.EliminarOrdenP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionAdmin</servlet-name>
        <servlet-class>Administrador.GestionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaAdmin</servlet-name>
        <servlet-class>Administrador.ModificaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaAdminD</servlet-name>
        <servlet-class>Administrador.ModificaAdminD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaPieza</servlet-name>
        <servlet-class>Administrador.ModificaPieza</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Catalogo.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaOrden</servlet-name>
        <servlet-class>Administrador.ModificaOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaOrdenPza</servlet-name>
        <servlet-class>Administrador.ModificaOrdenPza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPza</servlet-name>
        <servlet-class>Administrador.EliminarPza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>F</servlet-name>
        <servlet-class>Imagen.F</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEmail</servlet-name>
        <servlet-class>Cliente.EnviarEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>Sockets.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server</servlet-name>
        <servlet-class>Sockets.Server</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProveedor</servlet-name>
        <url-pattern>/AgregarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProveedor</servlet-name>
        <url-pattern>/EliminarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCliente</servlet-name>
        <url-pattern>/RegistrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProveedor</servlet-name>
        <url-pattern>/ModificarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCliente</servlet-name>
        <url-pattern>/ModificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoC</servlet-name>
        <url-pattern>/AgregarProductoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProductoC</servlet-name>
        <url-pattern>/ModificarProductoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaPiezas</servlet-name>
        <url-pattern>/AgregaPiezas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaOrden</servlet-name>
        <url-pattern>/AgregaOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarOrden</servlet-name>
        <url-pattern>/AgregarOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comun</servlet-name>
        <url-pattern>/Comun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarOrden</servlet-name>
        <url-pattern>/EliminarOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarOrdenP</servlet-name>
        <url-pattern>/EliminarOrdenP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionAdmin</servlet-name>
        <url-pattern>/GestionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaAdmin</servlet-name>
        <url-pattern>/ModificaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaAdminD</servlet-name>
        <url-pattern>/ModificaAdminD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaPieza</servlet-name>
        <url-pattern>/ModificaPieza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaOrden</servlet-name>
        <url-pattern>/ModificaOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaOrdenPza</servlet-name>
        <url-pattern>/ModificaOrdenPza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPza</servlet-name>
        <url-pattern>/EliminarPza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F</servlet-name>
        <url-pattern>/F</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEmail</servlet-name>
        <url-pattern>/EnviarEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server</servlet-name>
        <url-pattern>/Server</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<error-page>
        <error-code>404</error-code>
        <location> Error404.jsp</location>
    </error-page>-->
</web-app>
